.container {
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
  flex-grow: 2;
  border-radius: 30px;
  padding: 1rem 2rem;
  margin-left: 225px;
}

.inboxContainer {
  display: flex;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
