.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.controls {
  display: flex;
}

.icon {
  color: var(--quaternaryTextColor);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.icon:hover {
  color: var(--higlightTextColor);
  padding: 0.5rem 1rem;
}
