body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

.body-light {
  --primaryBackgroundColor: #ffffff;
  --secondaryBackgroundColor: #0278d5;
  --tertiaryBackgroundColor: #f4f9fe;
  --primaryTextColor: #000000;
  --secondaryTextColor: #2f3543;
  --tertiaryTextColor: #999fae;
  --quaternaryTextColor: #c9d1dc;
  --higlightTextColor: #0278d5;
}

.body-dark {
  --primaryBackgroundColor: #000000;
  --secondaryBackgroundColor: #0278d5;
  --tertiaryBackgroundColor: rgb(21, 24, 28);
  --primaryTextColor: #e1e1e1;
  --secondaryTextColor: whitesmoke;
  --tertiaryTextColor: #999fae;
  --quaternaryTextColor: #c9d1dc;
  --higlightTextColor: #0278d5;
}
